{minimum_otp_vsn, "25.0"}.

{project_plugins, [rebar3_ex_doc]}.

{erl_opts, [debug_info]}.

{profiles, [
    {test, [
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

{xref_checks, [
    locals_not_used,
    undefined_function_calls,
    deprecated_function_calls
]}.

{dialyzer, [
    {plt_apps, all_deps},
    incremental,
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling
    ]}
]}.

{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {source_url, <<"https://github.com/eproxus/meck">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
    {main, <<"readme">>},
    {prefix_ref_vsn_with_v, false}
]}.
