%% Compiler Options ===========================================================
{erl_opts, [
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors,
    debug_info,
    {platform_define, "(R14|R15|R16(?!B03))", cover_squash_comiple_opts}
]}.

%% Misc =======================================================================
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.
