{profiles, [
    {test, [
    ]}
]}.

{profiles, [
    {test, [
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]},
        {erl_opts, [debug_info]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]},
    {prod, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_unused_import
        ]}
    ]}
]}.

{xref_checks, [
    locals_not_used,
    undefined_function_calls,
    deprecated_function_calls
]}.

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling
    ]}
]}.
