%% Dependencies ===============================================================
{deps,
 [{hamcrest, ".*", {git, "https://github.com/hyperthunk/hamcrest-erlang.git",
                    {branch, "master"}}}]}.

%% Compiler Options ===========================================================
% FIXME: Add warnings_as_errors once Hamcrest is fixed
{erl_opts, [debug_info]}.

%% Eunit Options ==============================================================
{cover_enabled, true}.
{cover_print_enabled, true}.

%% Misc =======================================================================
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.
